.hex {
  cursor: pointer;
  fill: transparent;
  stroke-width: 1;
  stroke: #000;
}
.hex:hover {
  stroke-width: 2;
}

.rollText {
  font-family: sans-serif;
  pointer-events: none;
  user-select: none;
}

.brick {
  fill: #e08b8b;
}
.desert {
  fill: #ede0a1;
}
.grain {
  fill: #ebce3f;
}
.ore {
  fill: #878787;
}
.sheep {
  fill: #68c720;
}
.wood {
  fill: #357802;
}
