.harbor {
  stroke-width: 1;
  stroke: black;
}

.dock {
  stroke-width: 1;
  stroke: black;
  fill: #945a35;
}

.brick {
  fill: #e08b8b;
}
.wildcard {
  fill: url(#wildcard);
}
.grain {
  fill: #ebce3f;
}
.ore {
  fill: #878787;
}
.sheep {
  fill: #68c720;
}
.wood {
  fill: #357802;
}
